/* fadeInOut 배너 */
.banner{position:relative; background: #000;}
.banner_inner{position:relative;}
.banner_inner>li{position:absolute;top:0;left:0;opacity:0;}
.banner_img{width:100%;height:auto;}

.banner_btn{z-index:10; position:absolute; top:0; left:0; width:100%;}
.banner_btn:after{content:''; display:block; clear:both;}
.banner_btn>li{float:left; height:8px; width:20%; background:#aaa;cursor:pointer;}

.banner_btn>li:nth-child(1){background:#FFCD30;}
