/* PC */
@media all and (min-width: 1024px) {

    /* 헤더 */
    .main_logo{position: absolute;top:0;left: 150px;}
    .main_logo>a:link, .main_logo>a:visited{text-indent:-9999em; background:url(../img/logo.png) left center no-repeat; display:block; width:150px; height:70px;}

    .header_main_page{outline: 1px solid #000;}
    .main_header{ height: 70px;padding: 0 120px;}
    .main_header>ul{margin:0 0 0 150px; padding: 10px 0;}
    .main_header>ul:after{content:''; display:block; clear: both;}
    .main_header>ul>li{float:left;padding:0 15px;}
    .main_header>ul>li>a:link, .main_header>ul>li>a:visited{text-decoration:none;display:block;height:50px;width:100px;text-indent:-9999em;}

    .cate_intro{background:url(../img/intro.png) left center no-repeat;}
    .cate_design{background:url(../img/design.png) left center no-repeat;}
    .cate_comm{background:url(../img/comm.png) left center no-repeat;}


    /* 배너 */
    .main_banner{}
    .main_banner_inner{position:relative; height:0; width:100% padding-top:0;}
    .main_banner_inner>li{position:absolute;top:0;left:0; width:100%; height:100%;}
    .banner_img{width:100%;height:auto;}

}
