<footer class='footer_area'>

    <div data-role='footer' class='footer_area_wrapper' data-position='fixed'>
        <h2 class="footer_logo">logo</h2>
        <div class="footer_contents"></div>
    </div>

</footer>


<!-- ●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●js -->

    <script src="./script/main.js"></script>

    <!-- 배너 스크립트 -->
    <script src="./script/slideBanner.js"></script>
