 <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>메인페이지</title>
        <meta name="description" content="An interactive getting started guide for Brackets.">

        <!--[if lt IE 9]>
         <script type="text/javascript" src="js/respond.min.js"></script>
         <![endif]-->

        <!-- jQuery Mobile -->
        <!-- <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" /> -->
        <!-- <script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script> -->

        <!-- jQuery Mobile : Local -->
        <link rel="stylesheet" href="../lib/jquery.mobile-1.4.5.min.css" />
        <script src="../lib/jquery-1.11.1.min.js"></script>
        <script src="../lib/jquery.mobile-1.4.5.min.js"></script>
        <!-- Custom Stylesheet -->
        <link rel="stylesheet" href="../css/main.css" />
        <link rel="stylesheet" href="../css/reset.css" />
        <!-- <link rel="stylesheet" href="./css/common.css" /> -->

        <!-- Font Awesome -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        <!-- fadeIn/Out Banner -->
        <link rel="stylesheet" href="../css/slideBanner.css" />

        <!-- CKEditor -->
        <script src="../lib/ckeditor/ckeditor.js"></script>
