/*

버튼 border 공통 속성

padding:7px 5px;margin:5px;text-align:center;cursor:pointer;

   변환속성
border:1px solid #ddd;
border-radius:5px  5px 0 0;
box-shadow:1px 1px 4px #ddd;

*/

/* 버튼 */

.gk_corner_all, .gk_corner_all:hover, .gk_corner_all:active{border-radius:5px;}


.gk_simple2_btn{background:#f6f6f6;border:1px solid #ddd; text-align:center;padding:7px 5px;margin:5px;box-shadow:1px 1px 4px #ddd;}
.gk_simple2_btn:hover{background:#ededed;text-shadow: 0 1px 0 #f3f3f3;color:#333;cursor:pointer;}
.gk_simple2_btn:active{border:1px solid #38c;box-shadow: 0 0 6px #38c;}

.gk_bottom_bar_btn{border-bottom:1px solid #ddd;padding:7px 5px;margin:5px;text-align:center;cursor:pointer;}
.gk_bottom_bar_btn:hover{background:#fafafa;}
.gk_bottom_bar_btn:active{border-bottom:1px solid #aaa;}

.gk_simple1_btn{padding:7px 5px;margin:5px;border:1px solid #ddd;text-align:center;cursor:pointer;}
.gk_simple1_btn:hover{background:#f6f6f6;text-shadow: 0 1px 0 #f3f3f3;}
.gk_simple1_btn:active{border-color:#aaa;}

.gk_bg_cahnge_btn{padding:7px 5px;margin:5px;text-align:center;cursor:pointer;}
.gk_bg_cahnge_btn:hover{background:#f6f6f6;}
.gk_bg_cahnge_btn:active{background:#f3f3f3;}


/* 테이블 */


.gk_default_table{width:80%; margin:0 auto;font-size:14px;}
.gk_default_table > thead > tr > th{padding:7px 5px;}
.gk_default_table > thead > tr > th:nth-child(1){width:40px;}
.gk_default_table > thead > tr > th:nth-child(2){}
.gk_default_table > thead > tr > th:nth-child(3){width:100px;}
.gk_default_table > thead > tr > th:nth-child(4){width:100px;}
.gk_default_table > thead > tr > th:nth-child(5){width:70px;}
.gk_default_table > tbody > tr > td{text-align:center;padding:7px 5px;border-bottom:1px solid #ddd;}
.gk_default_table > tbody > tr > td:nth-child(2) {text-align:left;}


.gk_th_border_table > thead > tr > th{border-top:2px solid #000; border-bottom:2px solid #000;}

.gk_top_border_table > thead > tr > th{border-top:2px solid #38c;border-bottom:1px solid #ddd;}

.gk_th_bgcolor_table > thead > tr > th{background:#f1f1f1;border-top:1px solid #aaa; border-bottom:1px solid #aaa;}




/* 테이블 페이징 */

.gk_default_paging{display: table;text-align:center;margin:35px auto 15px;}
.gk_default_paging:after{content:'';display:block;clear:both;}
.gk_default_paging > span{display:block;float:left;}
.gk_default_paging a:link, .gk_default_paging a:visited{display:block;padding:5px;box-sizing:border-box;}
.gk_default_paging > ul{float:left;margin:0 10px;}
.gk_default_paging > ul:after{content:'';display:block;clear:both;}
.gk_default_paging > ul > li{float:left;}
.gk_default_paging > ul > li > a.selected{border-bottom:1px solid #000;}


.gk_basic_paging > span > a:hover, .gk_basic_paging > span > a:focus,
.gk_basic_paging > ul > li > a:hover, .gk_basic_paging > ul > li > a:focus{border-bottom:1px solid #000;}


.gk_basic2_paging > ul > li > a:link, .gk_basic2_paging > ul > li > a:visited{padding:0;width:30px;padding:5px 0;}
.gk_basic2_paging > ul > li > a.selected{border:none;background:#000;color:#fff;font-weight:bold;}




/* 상세보기 */
.gk_default_view{width:80%;margin:0 auto;font-size:14px;}

.gk_th_border_view{border-top: 2px solid #000;border-bottom: 2px solid #000;}
.gk_th_border_view > tbody > tr:nth-child(1) > th,
.gk_th_border_view > tbody > tr:nth-child(1) > td {border-bottom:1px solid #ddd;}
.gk_th_border_view > tbody > tr:nth-child(2) > td:nth-child(2){border-right:1px solid #ddd;}
.gk_th_border_view > tbody > tr:nth-child(3){border-top:1px solid #ddd;}
.gk_th_border_view > tbody > tr:nth-child(3) > td > div{min-height:300px;padding:10px 0;width:100%;}
.gk_th_border_view > tbody > tr > th{border-right:1px solid #ddd;padding:5px 7px;width:150px;}




/* header */

  /* update, insert, delete error CSS */
  .qe_wrapper{z-index:10;position: absolute;width:100%;height:100%;display:none; -webkit-box-align:center; -ms-flex-align:center; align-items:center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center;background:rgb(150, 150, 150, 0.5);}
  .qe_box{position: relative;padding:30px;width:300px;margin:0 auto;background:#ededed;text-align:center;border-radius:30px;border: 3px solid #bbb;}

  .header_area{width:100%;position:fixed;z-index:9999;}
  .header_area_wrapper{width:100%;margin:0 auto;position:relative;background:/*#FFCD30*/#eee;height:70px;}
  .header_logo{position:absolute;top:10px;left:10px;}
  .header_logo>a:link, .header_logo>a:visited{text-indent:-9999em; background:url(../img/logo.png) left center no-repeat; display:block; width:180px;height:50px;}
  .header_main_menu{width:540px;text-align:center;margin:0 auto;padding-top:10px;font-size:large;}
  .header_main_menu:after{content:'';clear:both;display:block;}
  .header_main_menu > li{float:left;width:180px;}
  .header_main_menu > li > a{display:block;padding:15px 0;color:#000;}
  .header_sub_menu{}
  .header_sub_menu > li > a{display:block;padding:15px 0;color:#5f5f5f;}
  .header_local_menu{position:absolute;right:10px;top:10px;}
  .head_login_btn > a:link, .head_login_btn > a:visited{padding-top:5px;text-align:center;color:#000;font-size:25px;display:block;height:45px;width:50px;}



/* latest_box */
.latest_box{outline:1px solid #999;position:relative;font-size:1.2em;}
.latest_box > p:nth-child(1){background:#eee;padding:10px;}
.latest_box > p:nth-child(2){position:absolute;top:0px;right:0;font-size:1.7em;font-weight:bold;}
.latest_box > p:nth-child(2) > a:link, .latest_box > p:nth-child(2) > a:visited{display:block;color:#787878;width:50px;text-align:center;}
.latest_box > p:nth-child(2) > a:hover, .latest_box > p:nth-child(2) > a:focus{color:#000;}
.latest_box > ul{}
.latest_box > ul > li{width:100%;}
.latest_box > ul > li:after{content:'';display:block;clear:both;}
.latest_box > ul > li > p{float:left;padding:5px 8px;color:#787878;}
.latest_box > ul > li > p:nth-child(1) > a:link,.latest_box > ul > li > p:nth-child(1) > a:visited{display:block;width:100%;color:#787878;}
.latest_box > ul > li > p:nth-child(1) > a:hover,.latest_box > ul > li > p:nth-child(1) > a:focus{color:#000;}
.latest_box{width:100%;}
.latest_box > ul > li > p:nth-child(1){padding-left:30px;width:61%;}
.latest_box > ul > li > p:nth-child(2){width:95px;text-align:center;}
.latest_box > ul > li > p:nth-child(3){}


/* contents */
.main_contents_wrapper:after{display:block;clear:both;content:'';}