/* PC */
@media all and (min-width: 1024px) {

    /* 헤더 */
    .main_logo{position: absolute;top:0;left: 150px;}
    .main_logo>a:link, .main_logo>a:visited{text-indent:-9999em; background:url(../img/logo.png) left center no-repeat; display:block; width:150px; height:70px;}

    .header_main_page{outline: 1px solid #000;}
    .main_header{ height: 70px;padding: 0 120px;}
    .main_header>ul{margin:0 0 0 150px; padding: 10px 0;}
    .main_header>ul:after{content:''; display:block; clear: both;}
    .main_header>ul>li{float:left;padding:0 15px;}
    .main_header>ul>li>a:link, .main_header>ul>li>a:visited{text-decoration:none;display:block;height:50px;width:100px;text-indent:-9999em;}

    .cate_intro{background:url(../img/intro.png) left center no-repeat;}
    .cate_design{background:url(../img/design.png) left center no-repeat;}
    .cate_comm{background:url(../img/comm.png) left center no-repeat;}


    /* 페이지 상단 */
    .page_title{background:#ddd; width:100%; text-align: center;padding:20px 0;height:200px;line-height:200px;font-size:3em;margin-bottom:50px;}


    /* 문의게시판 */
    #comm_table{width:1100px; margin:0 auto; border-top:2px solid #000; border-bottom:2px solid #000;font-size:12px;}
    #comm_table > thead > tr  {background:#eee;}
    #comm_table > thead > tr > th  {text-align: center; padding:.4em 0;}
    #comm_table > thead > tr > th:nth-child(1)  {width:90px;}
    #comm_table > thead > tr > th:nth-child(2)  {width:640px;}
    #comm_table > thead > tr > th:nth-child(3)  {width:130px;}
    #comm_table > thead > tr > th:nth-child(4)  {width:130px;}
    #comm_table > tbody > tr {border-bottom:1px solid #ddd;};}
    #comm_table > tbody > tr > th{text-align: center; padding:.4em 0;}
    #comm_table > tbody > tr > td{text-align: center; padding:.4em 0;}
    #comm_table > tbody > tr > td.b_title {text-align:left; padding-left:10px;}

    .board_search_bar{width:1100px; height:30px; margin:0 auto;}
    .board_search_bar > .search_select{float:right; width:70px;}




}
