/*
    기본색상 (보,연,노,주,갈)

#730046
#B4BF35
#FFCD30
#E88E34
#C93F0F

*/



/* RESET CSS*/
@import url(https://cdn.rawgit.com/theeluwin/NotoSansKR-Hestia/master/stylesheets/NotoSansKR-Hestia.css);
body{
    font-family: 'Noto Sans Korean', sans-serif;
    /*font-family: 'Nanum Gothic', sans-serif;*/
    font-size:14px;
}
body, h1, h2, h3, h4, h5, h6, p, div, img, span, address, pre, form, fieldset, textarea, input, select, table, th, td{
    margin:0;
    padding:0;
    font-style:normal;
}
fieldset, img{border:none;}
ul, ol{
    margin:0;
    padding:0;
    list-style:none;
}
table{border-collapse: collapse; }
.removeitem{text-indent:-9999em; position:absolute;}
legend{text-indent: -9999em;position:absolute;}
button{background:none}
a:link, a:visited{text-decoration: none;}
.overflow_hidden_item{overflow:hidden;}
