body {
  margin: 0;
}
.err-title {
  font-size: xx-large;
  color: #ff0000;
}
.err-notice {
  margin: 1em;
  font-size: large;
}
.err-content {
  border-bottom: 1px solid red;
  padding: .5em;
}
.err-wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}