<!DOCTYPE html>
<html>
    <head>
       <% include ../partials/head %>
    </head>
    <body>

       <div data-role="page" id="" class="page_box">
            <!-- 주메뉴 호출 -->
            <% include ../partials/header %>

            <h2 class="page_title">Comm Page</h2>
            <div class="comm_write_box">

                <table id="comm_w_table">
                    <tbody>

                        <!-- 글작성 화면에서 보이는 부분 -->
                        <tr class="comm_w_pw">
                            <th>비밀번호</th>
                            <td colspan="3"><input type="password" class="posts_pw" name="" maxlength="4" data-role="none" /></td>
                        </tr>

                        <tr class="comm_w_title">
                            <th>제목</th>
                            <td colspan="3"><input type="text" class="posts_title" name="posts_title" maxlength="20" data-role="none" /></td>
                        </tr>

                        <!--  상세보기 화면에서 보이는 부분 -->
                        <!--<tr>
                            <th>작성자</th>
                            <td>관리자</td>
                            <th>작성일</th>
                            <td>2018-04-16</td>
                        </tr>-->
                        <tr class="comm_w_content">
                            <td colspan="4" class="w_textarea"><textarea name="editor1"></textarea></td>
                        </tr>
                    </tbody>
                </table>

                <div class="comm_w_btn">
                    <button onclick="" type="button" title="작성" class="comm_w_btn" ><span>작성</span></button>
                    <button onclick="" type="button" title="취소" class="comm_w_cancel" ><span>취소</span></button>
                </div>

            </div>

            <!--   footer 호출     -->
            <% include ../partials/footer %>



        <script>

            /* 게시판 에디터 활성화 */
            CKEDITOR.replace( 'editor1', {
                filebrowserUploadUrl: '/upload'
            });

        </script>

        </div>
    </body>
</html>
