<!DOCTYPE html>
<html>
    <head>
       <% include ../partials/head %>
    </head>
    <body>

       <div data-role="page" id="" class="page_box">
            <!-- 주메뉴 호출 -->
            <% include ../partials/header %>

            <h2 class="page_title">Comm Page</h2>

            <div class="comm_view_box">
                <table id="comm_v_table">
                    <tbody>
                        <tr class="comm_v_title">
                            <th>제목</th>
                            <td colspan="3">냉무</td>
                        </tr>
                        <tr>
                            <th>작성자</th>
                            <td>관리자</td>
                            <th>작성일</th>
                            <td>2018-04-16</td>
                        </tr>
                        <tr class="comm_v_content">
                            <td colspan="4" class="v_textarea">ddd</td>
                        </tr>
                    </tbody>
                </table>

                <div class="comm_v_back_btn">
                    <a href="#" data-rel="back" class="ui-btn ui-shadow ui-corner-all">목록</a>
                </div>

            </div>

            <!--   footer 호출     -->
            <% include ../partials/footer %>

        </div>

    </body>
</html>
