<!DOCTYPE html>
<html>
    <head>
       <% include ../partials/head %>
    </head>
    <body>

      <div data-role="page" id="comm_page" class="page_box">

            <!-- 주메뉴 호출 -->
            <% include ../partials/header %>

            <div role="main" class="page_main">
                <h2 class="page_title">Comm Page</h2>

                <div class="board_search_bar">
                    <button onclick="" type="button" title="검색" class="search_btn ui-btn ui-corner-all"  data-role="none"><span>검색</span></button>
                    <input type="text" class="search_text" data-role="none" />
                    <select class="search_select" data-role="none">
                        <option>제목</option>
                        <option>작성자</option>
                        <option>내용</option>
                    </select>
                </div>

                <table data-role="table" id="comm_table" data-mode="">
                    <thead>
                        <tr>
                            <th data-priority="2">번호</th>
                            <th data-priority="2">제목</th>
                            <th data-priority="2">작성자</th>
                            <th data-priority="2">작성일</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% comms.forEach((comm, idx) => { %>   
                            <tr>
                                <th><%= comm.BOARD_INQUIRY_ID %></th>
                                <td class="comm_title"><a href="/comm_view"><%= comm.BOARD_INQUIRY_TITLE %></a></td>
                                <td><%= comm.BOARD_INQUIRY_WRITER %></td>
                                <td><%= comm.BOARD_INQUIRY_DATE %></td>
                            </tr>
                        <% }); %>
                        <tr>
                    </tbody>
                </table>
                <div class="board_btn">
                    <button onclick="location.href='/comm_write'" type="button" title="글쓰기" class="comm_write_btn" ><span>글쓰기</span></button>
                </div>
            </div>
            <!--   footer 호출     -->
            <% include ../partials/footer %>
        </div>


    </body>
</html>
