<!DOCTYPE html>
<html>
    <head>
       <% include ../partials/head %>
    </head>
    <body>

       <div data-role="page" id="" class="page_box">
            <!-- 주메뉴 호출 -->
            <% include ../partials/header %>

            <h2 class="page_title">Comm Page</h2>
            <div>
                <a href="#" data-rel="back" class="ui-btn">목록으로</a>
            </div>
            <div class="comm_">
                <div>Title</div>
                <div>
                    <textarea name="editor1"></textarea>
                </div>
                <div>comment</div>
            </div>
            <div>
                $admiun
             button:delete
            </div>
        </div>

    </body>
</html>
