<!DOCTYPE html>
<html>
    <head>
       <% include ../partials/head %>
    </head>
    <body>

        <div data-role="page" id="design_page" class="wrapper">

            <!-- 주메뉴 호출 -->
            <% include ../partials/header %>

            <div role="main" class="contets_wrapper">
                <h2 class="contents_title">Design Page</h2>
                <div class="contents_area">
                    <div class="design_contents">
                        <ul class="design_business_menu">
                            <li><a href="" class="ui-btn ui-corner-all">업종1</a></li>
                            <li><a href="" class="ui-btn ui-corner-all">업종2</a></li>
                            <li><a href="" class="ui-btn ui-corner-all">업종3</a></li>
                        </ul>
                        <ul class="deisgn_thumbnail">
                            <li>
                                <a href="#design1"
                                    data-rel="popup"
                                    data-position-to="window"
                                    data-transition="pop"
                                    class="">디자인1 보기</a>
                                <ul class="deisgn_thumbnail_cover">
                                    <li><a href="">모바일</a></li>
                                    <li><a href="">테블릿</a></li>
                                    <li><a href="">PC</a></li>
                                </ul>
                            </li>
                            <li>
                                <!-- <a href="#design2" data-role="button" data-rel="dialog" data-transition="slideup">디자인2 보기</a> -->
                                <a href="#design2"
                                    data-rel="popup"
                                    data-position-to="window"
                                    data-transition="pop"
                                    class="">디자인2 보기</a>
                                <ul class="deisgn_thumbnail_cover">
                                    <li><a href="">모바일</a></li>
                                    <li><a href="">테블릿</a></li>
                                    <li><a href="">PC</a></li>
                                </ul>
                            </li>
                            <li>
                                <!-- <a href="#design3" data-role="button" data-rel="dialog" data-transition="slideup">디자인3 보기</a> -->
                                <a href="#design3"
                                    data-rel="popup"
                                    data-position-to="window"
                                    data-transition="pop"
                                    class="">디자인3 보기</a>
                                <ul class="deisgn_thumbnail_cover">
                                    <li><a href="">모바일</a></li>
                                    <li><a href="">테블릿</a></li>
                                    <li><a href="">PC</a></li>
                                </ul>
                            </li>
                        </ul> <!-- deisgn_thumbnail End -->
                        <!-- <div class="deisgn_thumbnail_more_btn"></div> -->
                    </div> <!-- design_contents End -->
                </div> <!-- contents_area End -->
            </div> <!-- contets_wrapper End -->
        </div>
            <!--   footer 호출     -->
            <% include ../partials/footer %>

    </body>
</html>
