<!DOCTYPE html>
<html>
    <head>
       <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>디자인 모음</title>
        <meta name="description" content="An interactive getting started guide for Brackets.">

        <link rel="stylesheet" href="./css/common.css" />

        <style>
            body{ background:#fff;}
            div{width:300px;}
            a:link, a:visited{text-decoration:none; color:#333;}
            table{border-collapse: collapse;}
            ul, ol{
                    margin:0;
                    padding:0;
                    list-style:none;
                }
        </style>

    </head>
    <body>

        <div class="gk_corner_all">
            버튼
        </div>

        <p>&nbsp;</p>

        <div class="gk_simple2_btn gk_corner_all">
            버튼
        </div>

        <p>&nbsp;</p>

        <div class="gk_bottom_bar_btn">
            버튼
        </div>

        <p>&nbsp;</p>

        <div class="gk_simple1_btn">
            버튼
        </div>

        <p>&nbsp;</p>

        <div class="gk_bg_cahnge_btn">
            버튼
        </div>

        <p>&nbsp;</p>

        <div class="gk_bg_cahnge_btn gk_corner_all">
            버튼
        </div>

        <p>&nbsp;</p>


        <!-- ●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●● -->

        <table class="gk_default_table gk_th_border_table">
            <thead>
                <tr>
                    <th>번호</th>
                    <th>제목</th>
                    <th>작성자</th>
                    <th>작성일</th>
                    <th>조회수</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>3</td>
                    <td><a href="">테이블디자인이요</a></td>
                    <td>admin</td>
                    <td>2018-04-21</td>
                    <td>20</td>
                <tr>
                    <td>2</td>
                    <td><a href="">버튼디자인이요</a></td>
                    <td>admin</td>
                    <td>2018-04-20</td>
                    <td>270</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td><a href="">input디자인이요</a></td>
                    <td>admin</td>
                    <td>2018-04-18</td>
                    <td>98</td>
                </tr>
            </tbody>
        </table>

        <p>&nbsp;</p>

        <table class="gk_default_table gk_top_border_table">
            <thead>
                <tr>
                    <th>번호</th>
                    <th>제목</th>
                    <th>작성자</th>
                    <th>작성일</th>
                    <th>조회수</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>3</td>
                    <td><a href="">테이블디자인이요</a></td>
                    <td>admin</td>
                    <td>2018-04-21</td>
                    <td>20</td>
                <tr>
                    <td>2</td>
                    <td><a href="">버튼디자인이요</a></td>
                    <td>admin</td>
                    <td>2018-04-20</td>
                    <td>270</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td><a href="">input디자인이요</a></td>
                    <td>admin</td>
                    <td>2018-04-18</td>
                    <td>98</td>
                </tr>
            </tbody>
        </table>

        <p>&nbsp;</p>

        <table class="gk_default_table gk_th_bgcolor_table">
            <thead>
                <tr>
                    <th>번호</th>
                    <th>제목</th>
                    <th>작성자</th>
                    <th>작성일</th>
                    <th>조회수</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>3</td>
                    <td><a href="">테이블디자인이요</a></td>
                    <td>admin</td>
                    <td>2018-04-21</td>
                    <td>20</td>
                <tr>
                    <td>2</td>
                    <td><a href="">버튼디자인이요</a></td>
                    <td>admin</td>
                    <td>2018-04-20</td>
                    <td>270</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td><a href="">input디자인이요</a></td>
                    <td>admin</td>
                    <td>2018-04-18</td>
                    <td>98</td>
                </tr>
            </tbody>
        </table>

        <p>&nbsp;</p>

        <div class="gk_default_paging">
            <span><a href="">prev</a></span>
            <ul>
                <li><a href="" class="selected">1</a></li>
                <li><a href="">2</a></li>
                <li><a href="">3</a></li>
            </ul>
            <span><a href="">next</a></span>
        </div>

        <p>&nbsp;</p>

        <div class="gk_default_paging gk_basic_paging">
            <span><a href="">prev</a></span>
            <ul>
                <li><a href="" class="selected">1</a></li>
                <li><a href="">2</a></li>
                <li><a href="">3</a></li>
            </ul>
            <span><a href="">next</a></span>
        </div>

        <p>&nbsp;</p>

        <div class="gk_default_paging gk_basic2_paging">
            <span><a href="">prev</a></span>
            <ul>
                <li><a href="" class="selected">1</a></li>
                <li><a href="">2</a></li>
                <li><a href="">3</a></li>
            </ul>
            <span><a href="">next</a></span>
        </div>



    </body>
</html>
