    <div class="comm-popup-wrapper gk-clocking">
        <div class="comm-popup-window">
            <div class="comm-popup-header">
                항목 삭제
            </div>
            <div class="comm-popup-main">
                <div class="comm-popup-content">
                    <div class="comm-popup-message">메시지</div>
                    <div class="comm-popup-inputbox">
                        <input type="password" class="comm-popup-input">
                    </div>
                </div>
                <div class="comm-popup-errmsg"></div>
            </div>
            <div class="comm-popup-footer">
                <div class="comm-popup-btngrp">
                    <div class="comm-footer-btn comm-cancel-btn" evt="popupBack">취소</div>
                    <div class="comm-footer-btn comm-ok-btn" evt="removeTodo">확인</div>
                </div>
            </div>
        </div>
    </div>
    </div><!-- /end .wrapper -->
    
    <!-- ●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●js -->
    <script src="<%=locals.urls.js_path %>/main.js"></script>
    <!-- 배너 스크립트 -->
    <script src="<%=locals.urls.js_path %>slideBanner.js"></script>
    </body>
</html>
