


            <footer class='footer_area'>

                <div class='footer_area_wrapper'>
                    <h2 class="footer_logo"><a href="" class="removeitem">logo</a></h2>
                    <div class="footer_contents">하단 컨텐츠</div>
                </div>

            </footer>
