            <!-- ●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●js -->

            <script src="/script/main.js"></script>

            <!-- 배너 스크립트 -->
            <script src="/script/slideBanner.js"></script>

        <!-- </div> -->
    </body>
</html>
