            <!-- ●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●js -->

            <script src="<%=locals.urls.js_path %>/main.js"></script>

            <!-- 배너 스크립트 -->
            <script src="<%=locals.urls.js_path %>slideBanner.js"></script>

        <!-- </div> -->
    </body>
</html>
