<!DOCTYPE html>
<html>
    <head>
       <% include ../partials/head %>
    </head>
    <body>

        <div data-role="page" id="main_page" class="page_box">
            <!-- 주메뉴 호출 -->
            <% include ../partials/header %>
            <div role="main" class="page_main">
                <div class="banner">
                    <ul class="banner_inner">
                        <li><img src="img/banner1.JPG" class="banner_img" /></li>
                        <li><img src="img/banner2.jpg" class="banner_img" /></li>
                        <li><img src="img/banner3.jpg" class="banner_img" /></li>
                        <li><img src="img/banner4.jpg" class="banner_img" /></li>
                        <li><img src="img/banner5.jpg" class="banner_img" /></li>
                    </ul>
                    <ul class="banner_btn">
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                </div>
            </div>
            <!--   footer 호출     -->
            <% include ../partials/footer %>
        </div>

    </body>
</html>
