
                <h2 class="contents_title"><%= models.page_title%></h2>
                <div class="contents_area">
                    <div class="intro_contents">
                        <img src="img/pop5.png" alt="" />
                    </div>
                </div> <!-- contents_area End -->
