
                <h2 class="contents_title"><%= models.page_title%></h2>
                <div class="contents_area">
                    우리는 홈페이지는 만드는 홈페이지이다.
                    원하는 디자인을 골라서 문의해라.
                </div> <!-- contents_area End -->
