<!DOCTYPE html>
<html>
    <head>
       <% include ../partials/head %>
    </head>
    <body>

        <div date-role="page" id="intro_page" class="page_box">
            <!-- 주메뉴 호출 -->
            <% include ../partials/header %>
            <div role="main" class="page_main">
                <h2 class="page_title">Intro Page</h2>
                <div>
                    우리는 홈페이지는 만드는 홈페이지이다.
                    원하는 디자인을 골라서 문의해라.
                </div>
            </div>
        </div>

    </body>
</html>
