<!DOCTYPE html>
<html>
    <head>
       <% include ../partials/head %>
    </head>
    <body>

        <div id="intro_page" class="wrapper">
            <!-- 주메뉴 호출 -->
            <% include ../partials/header %>
            <div role="main" class="contets_wrapper">
                <h2 class="contents_title">Intro Page</h2>
                <div class="contents_area">
                    우리는 홈페이지는 만드는 홈페이지이다.
                    원하는 디자인을 골라서 문의해라.
                </div> <!-- contents_area End -->
            </div> <!-- contets_wrapper End -->
        </div>
            <!--   footer 호출     -->
            <% include ../partials/footer %>

    </body>
</html>
