
                <h2 class="contents_title"><%= models.page_title%></h2>
                <div class="contents_area">
                    <div class="my_info_modi_contents">
                        
                    </div> <!-- my_info_modi_contents End -->
                </div> <!-- contents_area End -->
