
<% include ../head %>
<% include ../header %>
<div role="main" class="contets_wrapper">


    <!-- 본문 -->
    <h2 class="contents_title"><%= models.page_title%></h2>
    <div class="contents_area">
        <div class="design_contents">

            <form action="/designWrite" method="post" name="" id="design_img_upload_form" enctype="multipart/form-data" >
                <table>
                    <fieldset>
                        <tr>
                            <th>포트폴리오명</th>
                            <td><input type="text" name="design_name" /></td>
                        </tr>
                        <tr>
                            <th>업종구분</th>
                            <td>
                                <select name="business_num">
                                    <option vlaue="0">업종선택</option>
                                    <% models.dmoain_list.forEach((dmoain_list, idx) => {  %>
                                    <option value="<%=dmoain_list.BUSINESS_ID%>"><%=dmoain_list.BUSINESS_NAME%></option>
                                    <% }); %>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <th>PC메인이미지</th>
                            <td>
                                <input type="file" name="pc_main" />
                            </td>
                        </tr>
                        <tr>
                            <th>모바일 메인이미지</th>
                            <td>
                                <input type="file" name="mobile_main" />
                            </td>
                        </tr>
                        <tr>
                            <th>테블릿 메인이미지</th>
                            <td>
                                <input type="file" name="tablet_main" />
                            </td>
                        </tr>
                    </fieldset>
                </table>
                <button type="button" onclick="designUploadSubmit()" ><span>저장</span></button>
            </form>
            
        </div> <!-- design_contents End -->
    </div> <!-- contents_area End -->


    <script>

        function designUploadSubmit(){

            if( $("input[name=design_name]").val() == "" ){
                alert("포트폴리오명을 입력해주세요.");
                $("input[name=design_name]").focus();
            }else if( $("select[name=business_num]").val() == "업종선택" || $("select[name=business_num]").val() == 0 ){
                alert("업종을 선택하세요.");
            }else if ( $("input[name=pc_main]").val() == "" && $("input[name=mobile_main]").val() == "" && $("input[name=tablet_main]").val() == "" ){
                alert("포트폴리오 이미지는 적어도 하나 이상 존재해야 합니다.");
            }else{
                document.getElementById("design_img_upload_form").submit();
            }

        }
    
    </script>

                
</div>
<% include ../footer %>
<% include ../foot %>
            