<% include ../head %>
<% include ../header %>
<div role="main" class="contets_wrapper"></div>

    <h2 class="contents_title"><%= models.page_title%></h2>
    <div class="contents_area">
        <div class="intro_contents">
            <img src="<%=locals.urls.img_path %>pop5.png" alt="" />
        </div>
    </div> <!-- contents_area End -->

</div>
<% include ../footer %>
<% include ../foot %>
            