<% include ../head %>
<% include ../header %>
<div role="main" class="contets_wrapper"></div>



                <h2 class="contents_title"><%= models.page_title%></h2>
                <div class="contents_area">
                    <div class="login_contents">
                        <div class="msg_box"><%=models.msg%></div>

                        <!-- 비밀번호 찾기 화면 -->
                    <% if(!models.find_pw){ %>
                        <form method="post" action="findPw">
                            <fieldset>
                                <table>
                                    <tr>
                                        <td>ID</td>                                
                                        <td><input type="text" name="user_id" maxlength="35" /></td>
                                    </tr>
                                    <tr>
                                        <td colspan="2"><button type="submit" title="찾기" class="gk_simple1_btn"><span>find</span></button></td>
                                    </tr>
                                </table>
                            </fieldset>
                        </form>

                        <!-- 찾은 아이디 보기  -->
                    <% }else{ 
                        models.find_id_res.forEach((ids, idx) => { %>
                            <ul>
                                <li><%= ids.GK_USERS_ID %></li>
                            </ul>
                    <%
                        }); 
                    %>
                        <div><button type="button" title="go_login" class="gk_simple1_btn" onclick="location.href='/loginPage'"><span>로그인하기</span></button></div>
                    <% } %>
                    </div>
                </div> <!-- contents_area End -->

</div>
<% include ../footer %>
<% include ../foot %>